<h1>Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()">
  <fieldset fxLayout="column" [disabled]="isLoading">

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="text"
        name="email"
        formControlName="email"
        matInput>

      <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="loginForm.controls['email'].hasError('email')">Email is invalid</mat-error>

    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        type="password"
        name="password"
        formControlName="password"
        matInput>

        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password is required</mat-error>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="isLoading"
    >
      <span *ngIf="isLoading === false">Login</span>
      <span *ngIf="isLoading === true">Loading...</span>
    </button>

  </fieldset>

</form>

<div
  fxLayout="column"
  fxLayoutAlign="center center"
  class="register"
>
  <p>Don't have an account?</p>
  <a (click)="onNavigateToRegister()">Create an account</a>
</div>
