<div class="module-header">
  <div class="left">
    <h3>{{ formTitle }}</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A distinctio animi, veniam voluptate doloribus esse.
    </p>
  </div>

  <div class="right">
    <button mat-raised-button color="prymary" *ngIf="formType === 1" (click)="onDelete()">
      DELETE
    </button>
    <button mat-raised-button color="prymary" (click)="onSubmit()">SAVE</button>
  </div>
</div>


<div class="module-body detail">

  <form [formGroup]="productForm" fxLayout="column">

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput name="description" formControlName="description" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Image URL</mat-label>
      <input matInput name="imageUrl" formControlName="imageUrl" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput name="price" formControlName="price" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Product Code</mat-label>
      <input matInput name="productCode" formControlName="productCode" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input matInput name="productName" formControlName="productName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Release Date</mat-label>
      <input matInput name="releaseDate" formControlName="releaseDate" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Star Rating</mat-label>
      <input matInput name="starRating" formControlName="starRating" />
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Tags</mat-label>
      <input
        matInput
        name="tags"
        formControlName="tags"
      />
    </mat-form-field> -->

  </form>

</div>
