<div class="module-header">
  <div class="left">
    <h3>PRODUCT: {{id}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A distinctio animi, veniam voluptate doloribus esse.
    </p>
  </div>

  <div class="right">
    <button mat-raised-button color="prymary">DELETE</button>
    <button mat-raised-button color="prymary">SAVE</button>
  </div>
</div>


<div class="module-body detail">

  <div fxLayout="column">

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input
        matInput
        name="description"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Image URL</mat-label>
      <input
        matInput
        name="imageUrl"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input
        matInput
        name="price"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Product Code</mat-label>
      <input
        matInput
        name="productCode"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input
        matInput
        name="productName"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Release Date</mat-label>
      <input
        matInput
        name="releaseDate"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Star Rating</mat-label>
      <input
        matInput
        name="starRating"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tags</mat-label>
      <input
        matInput
        name="tags"
      />
    </mat-form-field>

  </div>

</div>
