<h1>Register</h1>

<form>
  <fieldset fxLayout="column">

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>ReepetPassword</mat-label>
      <input matInput>
    </mat-form-field>

    <button mat-raised-button color="primary">Signup</button>

  </fieldset>

</form>
