.full-page {
  background: url("https://ngxadmin-e5c2f.firebaseapp.com/assets/images/backgrounds/dark-material-bg.jpg") no-repeat;
  background-size: cover;
  height: 100vh;

  .form-container {
    background-color: white;
    padding: 48px 32px 80px;
    width: 450px;
    border-radius: 8px;

    ::ng-deep {
      h1 {
        text-align: center;
      }

      form {
        fieldset {
          border: none;
        }
      }
    }
  }
}
